<form class="" action="/display_puppy" method="post">
   <label for="name">Name</label>
   <input type="text" name="name" value="">
   <label for="breed">Breed</label>
   <input type="text" name="breed" value="">
   <label for="age"></label>
   <input type="text" name="age" value="">
   <input type="submit" name="" value="Submit">
</form>
